{% extends 'base.html.twig' %}{#attention pas d'espace strictement{% ... %}#}

{% block body %}
<div class="container mt-4">
    <h1>Créer un ticket</h1>
    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.auteur) }}
            {{ form_widget(form.auteur, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.auteur) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.categorie) }}
            {{ form_widget(form.categorie, {'attr': {'class': 'form-select'}}) }}
            {{ form_errors(form.categorie) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.responsable) }}
            {{ form_widget(form.responsable, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.responsable) }}
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
</div>
{% endblock %}